* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    display: block;
}

ul li {
    list-style: none;
}
  
.container {
    flex-grow: 1;
    display: flex;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main-container {
    flex-grow: 1;
    background-color: #141922;
}
  
.footer-navbar {
    flex-shrink: 0;
    height: 100px;
    background-color: #282828;
}
  
.sidebar {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
}

.container a:hover, .container a > div:hover, .main-container .main-mid a:hover{
    color: white;
}

.container .main-container .main-navbar button:hover {
    padding: 1rem 2.5rem;
}

.container a {
    color: #ffffff7a;
    text-decoration: none;
}

.container .sidebar .top-section .sidebar-list :nth-child(2) a {
    color: white;
    border-left: 2px solid green;
}
 
.sidebar .top-section {
    flex-shrink: 0;
}
  
.sidebar .mid-section {
    flex-grow: 1;
    overflow: auto;
}
  
.sidebar .mid-section .playlist-container {
    display: none;
}
  
.sidebar .bot-section {
    flex-shrink: 0;
}
 
.sidebar .sidebar-list .logo-l {
    display: none;
}

.sidebar .sidebar-list .logo-s {
    display: block;
    padding: 0.5rem;
}
  
.sidebar .sidebar-list a {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.sidebar .sidebar-list .list-item-txt {
    display: none;
}

.sidebar .sidebar-list .list-item-icon {
    display: block;
    width: 30px;
}

.main-container .main-navbar {
    background-color: #080B12;
    color: white;
    padding: 2rem;
}

.main-container .main-navbar button {
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    border-color: white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.main-container .main-mid ul {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.main-container .main-mid ul li {
    padding-top: 1rem;
    padding-right: 1.5rem;
}

.main-container .main-mid ul li a {
    color: #ffffff7a;
    font-weight: bold;
}

.main-container .main-mid ul li:first-child a {
    border-bottom: 1px solid green;
}

.main-container {
    overflow: auto;
}

.main-container .row-container {
    overflow: auto;
}

.main-container .row-container .row {
    overflow: auto;
}

.main-container .row-container .row-title {
    color: white;
    padding-bottom: 2rem;
}

.main-container .row-container .row h4 {
    color: white;
    padding-bottom: 0.5rem;
}

.main-container .row-container .row h4 ~ div {
    color: #ffffff7a;
}

.main-container .row-container .row-title h2 ~ div {
    color: #ffffff7a;
}

.main-container .row-container {
    padding-top: 2.5rem;
    padding-left: 1.5rem;
}

.main-container .row-container .row .col-1_2 {
    flex-basis: 50%
}

.row-container .row .card-container .card-img {
    width: 100%;
    position: relative;
}

.row-container .row .card-container .card-txt {
    text-align: center;
}

.row-container .row .card-container .card-img .img-overlay {
    display: none;
}

.row-container .row .card-container .card-img:hover .img-overlay{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    font-size: 5rem;
    color: white;
    background-color: rgba(0 0 0 / 50%);
    display: flex;
    justify-content: center;
    align-items: center;
}

.mid-section .playlist-container i {
    background-color: #ffffff7a;
    color: black;
    padding: 0.3rem;
    font-size: 1.3rem;
}

.mid-section .playlist-container ul li {
    padding-bottom: 1rem;
}

.bot-section .bot-container i {
    border-radius: 50%;
    border: 1px solid;
    padding: 0.2rem;
}

.bot-section .bot-user img {
    width: 30px;
    background-color: grey;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.bot-section .bot-user .user-txt {
    display: none;
}

.bot-section .bot-container .bot-user {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.txt-color-grey {
    color: #ffffff7a;
}

.txt-align-e {
    text-align: end;
}

.padd-lx {
    padding-left: 1rem;
}

.padd-bt- {
    padding-bottom: 0.5rem;
}

.padd-bt {
    padding-bottom: 1rem;
}

.padd-tp {
    padding-top: 0.5rem;
}

.padd-tp-2 {
    padding-top: 2rem
}

.padd-bt-2 {
    padding-bottom: 2rem;
}

.padd-bt-2-s {
    padding-bottom: 1rem;
}

.padd-tpbt {
    padding: 0.5rem 0;
}

.padd-rx {
    padding-right: 1rem;
}

.marg-lx {
    margin-left: 1rem;
}

.marg-bt {
    margin-bottom: 1rem;
}

.bot-bord {
    display: none;
}

.font-size-s {
    font-size: 0.8rem;
}

.display- {
    display: none;
}

.display-f {
    display: flex;
    justify-content: center;
}

.img-circle {
    border-radius: 50%;
}

.footer-navbar .footer-container .footer-card {
    display: flex;
    align-items: center;
    padding: 1rem;
}

.footer-navbar .footer-container .footer-img {
    width: 60px;
}

.footer-navbar .footer-container .footer-card .footer-txt {
    color: white;
    padding-left: 0.5rem;
}


@media screen and (min-width: 568px) {
    .sidebar {
      width: 250px;
    }

    .sidebar .sidebar-list .logo-l {
        display: block;
        width: 80%;
    }

    .sidebar .sidebar-list .logo-s {
        display: none;
    }

    .sidebar .sidebar-list .list-item-txt {
        display: block;
    }

    .sidebar .mid-section .playlist-container {
        display: block;
    }
  
    .sidebar .sidebar-list a {
        justify-content: flex-start;
    }
    
    .sidebar .sidebar-list .list-item-icon {
        margin-right: 1rem;
    }

    .bot-section .bot-user .user-txt {
        display: block;
        font-weight: bold;
    }
    
    .bot-bord {
        border-bottom: 1px solid;
        padding-top: 0.5rem;
        display: block;
    }  
    
    .bot-section .bot-container .bot-user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    } 
    
    .padd-bt-2-s {
        padding-bottom: 2rem;
    }

    .padd-s {
        padding: 1rem 1rem 1rem 0;
    }

    .padd-dxlx-s {
        padding: 0 1rem;
    }

    .padd-bt-s {
        padding-bottom: 0.5rem;
    }

    .padd-lx-s {
        padding-left: 0.5rem;
    }

    .padd-tp-s {
        padding-top: 1rem;
    }

    .display- {
        display: inline-block;
    }

    .display-f {
        display: block;
    }
}
  
@media screen and (min-width: 768px) {
    .main-container .row-container .row .col-md-1_4 {
        flex-basis: calc(100% / 4);
    }
}
  
@media screen and (min-width: 992px) {
    .main-container .row-container .row .col-lg-1_6 {
        flex-basis: calc(100% / 6);
    }
}