* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
}

img {
    width: 100%;
    display: block;
}

ul li {
    list-style: none;
}
  
.container {
    flex-grow: 1;
    display: flex;
    border: 1px dashed lightskyblue;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.main-container {
    flex-grow: 1;
    background-color: #141922;
    border: 1px dashed lightskyblue;
}
  
.footer-navbar {
    flex-shrink: 0;
    height: 100px;
    background-color: #282828;
    border: 1px dashed lightskyblue;
}
  
.sidebar {
    width: 60px;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    background-color: black;
    color: white;
    border: 1px dashed lightskyblue;
}

.container ul li a {
    color: white;
    text-decoration: none;
}
 
.sidebar .top-section {
    flex-shrink: 0;
}
  
.sidebar .mid-section {
    flex-grow: 1;
    overflow: auto;
}
  
.sidebar .mid-section .playlist-container {
    display: none;
}
  
.sidebar .bot-section {
    flex-shrink: 0;
}
 
.sidebar .sidebar-list .logo-l {
    display: none;
}

.sidebar .sidebar-list .logo-s {
    display: block;
    padding: 0.5rem;
}
  
.sidebar .sidebar-list a {
    display: flex;
    justify-content: center;
    align-items: center;
}
  
.sidebar .sidebar-list .list-item-txt {
    display: none;
}

.sidebar .sidebar-list .list-item-icon {
    display: block;
    width: 30px;
}

.main-container .main-navbar {
    background-color: #080B12;
    color: white;
    padding: 2rem;
}

.main-container .main-navbar button {
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    border-color: white;
    background-color: transparent;
    color: white;
    cursor: pointer;
}

.main-container .main-mid ul {
    display: flex;
    justify-content: center;
}

.main-container .main-mid ul li {
    padding-top: 1rem;
    padding-right: 1.5rem;
}

.main-container .main-mid ul li a {
    color: #ffffff7a;
    font-weight: bold;
}

.mid-section .playlist-container i {
    background-color: #ffffff7a;
    color: black;
    padding: 0.3rem;
    font-size: 1.3rem;
}

.mid-section .playlist-container ul li {
    padding-bottom: 1rem;
}

.bot-section .bot-container i {
    border-radius: 50%;
    border: 1px solid;
    padding: 0.2rem;
}

.bot-section .bot-user img {
    width: 30px;
    background-color: grey;
    border-radius: 50%;
    aspect-ratio: 1 / 1;
}

.bot-section .bot-user .user-txt {
    display: none;
}

.bot-section .bot-container .bot-user {
    display: flex;
    justify-content: center;
    padding: 0.5rem;
}

.txt-color-grey {
    color: #ffffff7a;
}

.txt-align-e {
    text-align: end;
}

.padd-lx {
    padding-left: 1rem;
}

.padd-bt {
    padding-bottom: 1rem;
}

.padd-bt-2 {
    padding-bottom: 2rem;
}

.padd-bt-2-s {
    padding-bottom: 1rem;
}

.marg-lx {
    margin-left: 1rem;
}

.bot-bord {
    display: none;
}

.font-size-s {
    font-size: 0.8rem;
}

.display- {
    display: none;
}

.display-f {
    display: flex;
    justify-content: center;
}


@media screen and (min-width: 568px) {
    .sidebar {
      width: 250px;
    }

    .sidebar .sidebar-list .logo-l {
        display: block;
        width: 80%;
    }

    .sidebar .sidebar-list .logo-s {
        display: none;
    }

    .sidebar .sidebar-list .list-item-txt {
        display: block;
    }

    .sidebar .mid-section .playlist-container {
        display: block;
    }
  
    .sidebar .sidebar-list a {
        justify-content: flex-start;
    }
    
    .sidebar .sidebar-list .list-item-icon {
        margin-right: 1rem;
    }

    .bot-section .bot-user .user-txt {
        display: block;
        font-weight: bold;
    }
    
    .bot-bord {
        border-bottom: 1px solid;
        padding-top: 0.5rem;
        display: block;
    }  
    
    .bot-section .bot-container .bot-user {
        display: flex;
        justify-content: flex-start;
        align-items: center;
        padding: 0;
    } 
    
    .padd-bt-2-s {
        padding-bottom: 2rem;
    }

    .padd-s {
        padding: 1rem 1rem 1rem 0;
    }

    .padd-dxlx-s {
        padding: 0 1rem;
    }

    .padd-bt-s {
        padding-bottom: 0.5rem;
    }

    .padd-lx-s {
        padding-left: 0.5rem;
    }

    .padd-tp-s {
        padding-top: 1rem;
    }

    .display- {
        display: inline-block;
    }

    .display-f {
        display: block;
    }
}
  
@media screen and (min-width: 768px) {}
  
@media screen and (min-width: 992px) {}